*{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
div{
    height: 100px;
    width: 400px;
    border: 2px solid rgb(74, 65, 104);
    margin: auto;
    margin-top: 2px;
    border-radius: 10px;
}